@page "/spells/fire"

@using LTSaveEd.Models.CharacterData.SpellData
@using LTSaveEd.Models
@using LTSaveEd.Components

@inherits BaseSaveEditorPage

@inject ApplicationState ApplicationState

<h3>Fire</h3>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid Spacing="4" Justify="Justify.Center">
        <MudItem xs="3">
            <SpellSelect Spell="Spells.Fireball" Label="Fireball"/>
        </MudItem>
        <MudItem xs="3">
            <SpellSelect Spell="Spells.Flash" Label="Flash"/>
        </MudItem>
        <MudItem xs="3">
            <SpellSelect Spell="Spells.CloakOfFlames" Label="Cloak of Flames"/>
        </MudItem>
        <MudItem xs="3">
            <SpellSelect Spell="Spells.FireElemental" Label="Fire Elemental"/>
        </MudItem>
        <MudItem xs="3">
            <IntField Attribute="@Spells.UpgradePoints" Label="Spell Points"/>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private FireSpells Spells => SaveData.CurrentCharacter.Spells.Fire;
}