@page "/family"
@using LTSaveEd.Models
@inject NavigationManager NavigationManager
@inject SaveData SaveData
<h3>Family</h3>

@code {
    private Models.CharacterData.Family FamilyData => SaveData.CurrentCharacter.Family;
    
    protected override void OnInitialized()
    {
        if (!SaveData.Initialized)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}