@page "/fetishes"
@using LTSaveEd.Models
@inject NavigationManager NavigationManager
@inject SaveData SaveData
<h3>Fetishes</h3>

<MudCard>
    <MudForm>
        <MudCardContent>
            <MudGrid Justify="Justify.Center" Spacing="6">
                <MudItem xs="6">
                    <FetishField Label="Dominant" Fetish="FetishesData.Dominant"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Submissive" Fetish="FetishesData.Submissive"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Vaginal" Fetish="FetishesData.Vaginal"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Pussy Slut" Fetish="FetishesData.PussySlut"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Cock Stud" Fetish="FetishesData.CockStud"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Cock Addict" Fetish="FetishesData.CockAddict"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Anal" Fetish="FetishesData.Anal"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Buttslut" Fetish="FetishesData.Buttslut"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Breasts Lover" Fetish="FetishesData.BreastLover"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Breasts" Fetish="FetishesData.Breasts"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Milk Lover" Fetish="FetishesData.MilkLover"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Lactation" Fetish="FetishesData.Lactation"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Oral" Fetish="FetishesData.Oral"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Oral Performer" Fetish="FetishesData.OralPerformer"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Leg Lover" Fetish="FetishesData.LegLover"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Strutter" Fetish="FetishesData.Strutter"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Dominant Foot" Fetish="FetishesData.DominantFoot"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Submissive Foot" Fetish="FetishesData.SubmissiveFoot"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Armpit Lover" Fetish="FetishesData.ArmpitLover"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Armpit Slut" Fetish="FetishesData.ArmpitSlut"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Cum stud" Fetish="FetishesData.CumStud"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Cum Addict" Fetish="FetishesData.CumAddict"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Deflowering" Fetish="FetishesData.Deflowering"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Vaginal Virginity" Fetish="FetishesData.VaginalVirginity"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Impregnation" Fetish="FetishesData.Impregnation"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Pregnancy" Fetish="FetishesData.Pregnancy"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Transformer" Fetish="FetishesData.Transformer"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Test Subject" Fetish="FetishesData.TestSubject"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Kink Advocate" Fetish="FetishesData.KinkAdvocate"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Kink Curious" Fetish="FetishesData.KinkCurious"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Sadist" Fetish="FetishesData.Sadist"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Masochist" Fetish="FetishesData.Masochist"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Non-consent" Fetish="FetishesData.NonConsent"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Unwilling Fuck-toy" Fetish="FetishesData.UnwillingFuckToy"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Bondage Applier" Fetish="FetishesData.BondageApplier"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Bondage Bitch" Fetish="FetishesData.BondageBitch"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Orgasm Denier" Fetish="FetishesData.OrgasmDenier"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Self-Denial" Fetish="FetishesData.SelfDenial"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Voyeurist" Fetish="FetishesData.Voyeurist"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Exhibitionist" Fetish="FetishesData.Exhibitionist"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Bimbo/Bro" Fetish="FetishesData.Bimbo"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Cross Dressing" Fetish="FetishesData.CrossDressing"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Masturbation" Fetish="FetishesData.Masturbation"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishField Label="Incest" Fetish="FetishesData.Incest"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishField Label="Size Queen" Fetish="FetishesData.SizeQueen"/>
                </MudItem>
                @*<MudItem xs="6">
                <FetishField Label="Submissive" Fetish="FetishesData.Submissive"/>
            </MudItem>*@
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishNumericField Label="Switch" Fetish="FetishesData.Switch"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishNumericField Label="Breeder" Fetish="FetishesData.Breeder"/>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem xs="6">
                    <FetishNumericField Label="Sadomasochist" Fetish="FetishesData.Sadomasochist"/>
                </MudItem>
                <MudItem xs="6">
                    <FetishNumericField Label="Lusty Maiden" Fetish="FetishesData.LustyMaiden"/>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {
    private Models.CharacterData.Fetishes FetishesData => SaveData.CurrentCharacter.Fetishes;

    protected override void OnInitialized()
    {
        if (!SaveData.Initialized)
        {
            NavigationManager.NavigateTo("/");
        }
    }

}