@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<div>Load a save file to get started. Once you load your save file, you will need to wait for the save loaded notifcation</div>

@code
{
    
}
