@page "/body/breasts"

@using LTSaveEd.Models

@inherits BaseSaveEditorPage

@inject ApplicationState ApplicationState

<h3>Breasts</h3>

<BreastsLayout Breasts="@BreastsData"/>

@code {
    private Models.CharacterData.BodyData.Breasts BreastsData => SaveData.CurrentCharacter.Body.Breasts;
}