@page "/body/breastscrotch"

@using LTSaveEd.Models

@inherits BaseSaveEditorPage

@inject ApplicationState ApplicationState

<h3>BreastsCrotch</h3>

<BreastsLayout Breasts="@BreastsCrotchData"/>

@code {
    private Models.CharacterData.BodyData.Breasts BreastsCrotchData => SaveData.CurrentCharacter.Body.BreastsCrotch;
}